.images {
    display: flex;
    width: 100vw;
    juftify-content: center;
    align-items: center;
  }
  
  .image-frame {
    width: 200px;
    margin-right: 10px;
    overflow: hidden;
  }
  
  img {
    width: 200px;
  }
  
  img:hover {
    transform: scale(1.3);
    transition: 3s;
  }