body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.bphone-logo {
  position: relative;
  width: 250px;
  height: 250px;
  background: #da6144;
  overflow: hidden;
  border-radius: 27%;
  border: 2px solid #da6144;
}

.bphone-logo > div {
  position: absolute;
  background: #fff;
}

.bphone-logo > div[class*="-none"] {
  background: #da6144;
}

.bphone-logo .body-bottom {
  top: -21px;
  left: 4px;
  width: 203px;
  height: 206px;
  border-radius: 296% 23%;
}

.bphone-logo .body-bottom-top-none {
  top: -39px;
  left: 10px;
  width: 190px;
  height: 205px;
  border-radius: 280% 55%;
  -webkit-transform: skew(340deg, 25deg);
          transform: skew(340deg, 25deg);
}

.bphone-logo .body-bottom-right-none {
  top: -30px;
  left: -18px;
  width: 50px;
  height: 500px;
  -webkit-transform: skew(348deg, 33deg);
          transform: skew(348deg, 33deg);
}

.bphone-logo .body-middle {
  top: 45px;
  left: -16px;
  width: 190px;
  height: 99px;
  border-top-right-radius: 60% 68%;
  border-bottom-right-radius: 85% 100%;
  border-bottom-left-radius: 70% 100%;
}

.bphone-logo .body-middle-top-none {
  top: -94px;
  left: 10px;
  width: 185px;
  height: 211px;
  -webkit-transform: skew(327deg, 37deg);
          transform: skew(327deg, 37deg);
  border-radius: 176% 141%;
}

.bphone-logo .body-middle-right-none {
  top: -30px;
  left: -34px;
  width: 50px;
  height: 500px;
  -webkit-transform: skew(348deg, 33deg);
          transform: skew(348deg, 33deg);
}

.bphone-logo .body-top {
  top: 41px;
  left: 23px;
  width: 156px;
  height: 84px;
  border-top-right-radius: 60% 68%;
  border-bottom-right-radius: 85% 100%;
  border-bottom-left-radius: 70% 100%;
}

.bphone-logo .body-top-top-none {
  top: -66px;
  left: 19px;
  width: 151px;
  height: 149px;
  border-radius: 176% 130%;
  -webkit-transform: skew(328deg, 51deg);
          transform: skew(328deg, 51deg);
}

.bphone-logo .body-top-right-none {
  top: 46px;
  left: -43px;
  width: 117px;
  height: 42px;
  -webkit-transform: skew(326deg, 32deg);
          transform: skew(326deg, 32deg);
}

.bphone-logo .rostrum {
  background: none;
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-right: 6px solid #fff;
  border-bottom: 26px solid transparent;
  -webkit-transform: skew(311deg, 62deg);
          transform: skew(311deg, 62deg);
  top: 26%;
  left: 74%;
}

.bphone-logo .rostrum-none {
  top: 33.5%;
  left: 67.5%;
  width: 8px;
  height: 35px;
  -webkit-transform: rotate(221deg);
          transform: rotate(221deg);
  border-top-right-radius: 150%;
  border-bottom-left-radius: 100%;
}

.bphone-logo .eye {
  top: 35%;
  left: 64%;
  width: 13px;
  height: 7px;
  -webkit-transform: rotate(305deg);
          transform: rotate(305deg);
  border-radius: 50%;
}

.bphone-logo .head-left {
  top: 28%;
  left: 53%;
  width: 21px;
  height: 18px;
  border-radius: 0 100%;
  -webkit-transform: rotate(325deg);
          transform: rotate(325deg);
}

.bphone-logo .head-left-none {
  top: 26%;
  left: 52%;
  width: 21px;
  height: 19px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  border-radius: 0 100%;
}

.bphone-logo .head-right {
  top: 27%;
  left: 61%;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(397deg);
          transform: rotate(397deg);
  border-radius: 100% 0;
}

.bphone-logo .head-right-none {
  top: 27.1%;
  left: 64.7%;
  width: 11px;
  height: 27px;
  -webkit-transform: rotate(422deg);
          transform: rotate(422deg);
  border-radius: 100% 0;
}
/*# sourceMappingURL=style.css.map */