img{
    display: block;
    max-width: 100%;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
  }
  .item {
  position: relative;
    height: 300px;
  }
  .item-image,
  .item-image-shadow{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item-image {
    z-index: 2;
    position: relative;
  }
  .item-image-shadow{
    position: absolute;
    top: 20px;
    left: 0;
    filter: blur(30px);
    transform: scale(0.95);
    
  }