*{
  box-sizing: border-box;
}
body{
  background-color: #2f2f68;
  color: #fff;
  display: flex;
  font-family: 'Muli',sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;

}
.container{
  background-color: #021929;
  box-shadow: 0px 3px 13px rgba(255,255,255,0.2);
  padding: 20px;
  width: 350px;
  max-height: 100%;
}
h2{
  margin: 10px 0 20px;
  text-align: center;
}
.result-container{
  background-color: rgb(31,32,37);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  padding: 12px 10px;
  letter-spacing: 1px;
  font-size: 18px;
}
.result-container .btn{
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
}
.btn{
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #0d66a1;
}
.btn-large{
  display: block;
  width: 100%;
}
.setting{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.all{
  justify-content: center;
  align-items: center;
}
.range__slider{
  position: relative;
  width: 90%;
  background: rgba(255,255,255,0.08);
  border-radius: 8px;
  margin: 13px 0;
  height: calc(65px - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#length{
  -webkit-appearance:none;
  width: calc(100% - (70px));
  height: 2px;
  border-radius: 5px;
  background: rgba(255,255,255,0.314);
  outline: none;
  margin: 0;
  cursor: pointer;
}
.field-title{
  position: absolute;
  top: -10px;
  left: -15px;
  transform: translateY(-50%);
  font-size: 0.65rem;
  pointer-events: none;
  user-select: none;
  text-transform: uppercase;
  color: rgba(255, 254, 254, 0.973);
  font-weight: 700;
}