@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #afeeed;
  display: flex;
  justify-content: center;
}
.card {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  display: grid;
  gap: 0 20px;
}

.card .card-item {
  position: relative;
}
.card img {
  height: 250px;
  width: 300px;
  transition: 0.4s ease-in-out all;
}

.card .card-details {
  position: absolute;
  padding: 10px 5px;
  bottom: 0px;
  opacity: 0;
  transition: 0.4s ease-in-out all;
}

.card-details h1 {
  font-size: 18px;
  margin: 2px 0;
}
.card-details p {
  font-size: 14px;
}
.card-item:hover .card-details {
  opacity: 1;
  bottom: 10px;
}

.card-item:hover img {
  transform: scale(1.05);
}

@media(max-width:600px){
  .card {
  grid-template-columns: 1fr;  gap: 0 10px;
}
  .container {
    height: 210vh;}
}
