img {
    width: 50%;
  }
  
  .ellipse img {
    clip-path: ellipse(200px 200px at 100px 100px);
  }
  
  .circle img {
    clip-path: circle(30%);  
  }
  
  .polygon img {
    clip-path: polygon(5% 5%, 100% 10%, 900% 75%, 75% 75%, 75% 100%, 60% 75%, 20% 80%);
  }