*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}

nav{
    display: flex !important;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;

}

.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links li{
    padding: 1rem;
}

.nav-links , h1{
    flex: 1;
}

.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background , transform;
    transform-origin: 100% 100%;
    z-index: -1;
    backdrop-filter: blur(3px);
}

.link-grow{
    background-color: black;
    transform: scale(2);
}

.hovered-link{
    color: white;
}

.front-cover img {
    position: relative;
    z-index: -2;
}