.image img {
    max-width: 400px;
  }
  
  .blur {
    filter: blur(5px);
  }
  
  .grayscale {
    filter: grayscale(100%);
  }
  
  .brightness {
    filter: brightness(150%);
  }
  
  .saturate {
    filter: saturate(200%);
  }
  
  .invert {
    filter: invert(100%);
  }
  
  .huerotate {
    filter: hue-rotate(180deg);
  }